html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    font-family:"Arial";
    background-color:#e2e2e2;
    color:#333333;
    margin:0;
}

header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color:grey;
    z-index: 9001;
}

header h1, header h2{
    padding-left:10px;
    padding-top:10px;
    color:#cccccc;
}

.grid{
    width:420px;
    height:360px;
}

nav{
    background-color: #404040;
    text-align: center;
    padding: 1px;
}

nav a{
    color: #e60000;
}

nav a:hover{
    color: #ff0000;
    background-color: #0d0d0d;
}

nav li{
    padding: 3.4px;
    list-style: none;
    display: inline;
    margin-right: 
}

main{
    margin: 0 auto;
    width: 616px;
    padding: 10px;
}

img{
    margin: 10px;
    box-sizing: border-box;
}
article 
{
    width:750px;
    min-height: 600px;
    background-color:white;
    box-sizing: border-box;
    margin:20px 0;
    text-align:center;
    position: relative;
}
article img
{
    max-height: 600px;
    max-width: 750px;
}
.like_box
{
    text-align: right;
    position: absolute;
    right:10px;
    bottom:10px;
}
.like_box button
{
    margin-bottom: 5px;
    background: none;
    border: none;
    font-size: 20px;
}
.like_box button:hover
{
    cursor: pointer;
    color:#444;
}
.like_box button:active
{
    color:#999;
}
.like_box span
{
    display:block;
    clear: both;
}