header{
    position: fixed;
    top:0px;
    left:0px;
    height: auto;
    width: 100%;
    color: #eeeeee;
    background-color:#282828;
    font-variant: small-caps;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0px;
    padding: 0px;
    background-color: deepskyblue;
    list-style-type: none;
}
li{
    display: inline-block;
}
a li{
    font-family:sans-serif;
    font-size: 200%;
    text-align: center;
    padding-right: 105.5px;
    padding-left: 105.5px;
    color: yellow;
    margin:0px;
}
img{
    display:block;
    margin:0 auto;
    
}
a li:hover{
    background-color: darkgray;
    cursor: pointer;
}
body{
  background:radial-gradient(#0000ff,#eeeeee);
    overflow-y: scroll;
}
#content{
    background-color: #282828;
    color: white;
    border: 5px solid black;
    border-radius: 5px;
    width:80%;
    height:90%;
    margin-top: 200px;
    margin-left: 140px;
}
footer{
    display:block;
    background-color: #282828;
    width: auto;
    height:10%;
    margin: 0;
    margin-bottom: 0;
    padding:0;
    padding-top: 10px;
    margin-top: 20px;
    bottom: 0;
    text-align: center;
}
#slider_holder
{
    margin: 0 auto;
    width: 100%;
    height: 40%;
}
.slider_img img
{
    width:100%;
    height:100%;
    overflow: hidden;
}
.slider_img
{
    transition: height 1s;
}





















