body
{
    color:red;
}
#prvi 
{
    color:blue;
}
p 
{
    color:yellow;
}
#image_holder
{
    margin: 0 auto;
    width:500px;
}
marquee
{
    color:white;
    background-color: red;
    font-weight: 700;
    
}