body
{
    font-family: "Trebuchet MS";
    background-color:#e2e2e2;
    color:#333333;
    margin:0;
}
header{
    background-color: #111111;
}

header h1, header h2 
{
    padding-left: 10px;
    padding-top: 10px;
    color:white;
}

.grid{
    width:250px;
    height:300px;
}
nav
{
    background-color:#222222;
    text-align: center;
    padding: 1px;
}
nav a 
{
    color:#666666;
}
nav a:hover
{
    color:#ffffff;
    background-color:#333333;
}
nav li
{
    padding: 2px;
    list-style: none;
    display: inline;
    margin-right: 10%;
    text-align: center;
    border: 1px solid #333333;
}
main
{
    margin: 10px auto;
    width:1024px;
    border: 1px solid #333333;
    padding:10px;
}

.slider
{
    width: 100%;
    height: 470px;
    overflow: hidden;
    position: relative;
}
.slider-item
{
    transition: height 1s;
    width: 100%;
}
.slider-desc
{
    visibility: hidden;
    background-color:rgba(0,0,0,0.5);
    color: white;
    font-size: 20pt;
    position: absolute;
    padding: 10px;
    bottom:0px;
    width: 984px;
    height: 50px;
}
.slider-item img
{
    width: 1004px;
}
table 
{
    border-collapse: collapse;
    border: 1px solid #333333;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
table,tr,td
{
    border:1px solid #333333;
}




















